.content-box {
    border: solid black 2px;
    margin: 7px 3px;
    padding: 5px;
}
.content-box div {
    font-size: 1.25rem;
}

.custom-search {
    text-align: center;
}

#clear-space {
    text-align: end;
}

#data-cell {
    border: solid black 3px;
    border-radius: 5px;
    background-color: rgb(90, 89, 89);
    color: white;
}

#details-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#details-header h3 {
    display: inline-block;
    margin: 20px;
}

#details-header h4 {
    display: inline-block;
    margin: 20px;
}

#homepage-header {
    text-align: center;
}

#news-cell {
    border: solid black 3px;
    border-radius: 5px;
    background-color: rgb(22, 141, 189);
    
}

a {
    color: white;
}

#news-cell > li {
    list-style-type: none;
}

#results-box {
    border: solid black 2px;
    border-radius: 8px;
    margin: 15px;
    padding: 5px;
}

#reults-title {
    justify-content: space-between;
}

#search-box {
    border: solid rgb(1, 1, 56) 2px;
    border-radius: 8px;
    background-color: rgb(22, 141, 189);
    margin: 15px;
    padding: 5px;
    height: 280px;
}

#stock-reference {
    font-size: 3rem;
}

#your-list {
    border: solid rgb(90, 89, 89) 2px;
    border-radius: 8px;
    background-color: darkgrey;
    margin: 15px;
    padding: 5px;
}

@media screen and (max-width:916px) {
    #results-box {
        font-size: .5rem;
    }
    #more-btn, #add-btn {
        font-size: .5rem;
    }
}

